<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address, 'Email' %>
    <%= form.email_field :address %>
  </div>

  <div class="field">
    <%= label_tag :template %>
    <%= select_tag('email_template', options_for_select(@templates.collect { |t| [t.title, t.id] })) %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit 'Send' %>
  </div>

  <script>
    var templates = <%= raw Hash[@templates.collect { |t| [t.id, t.content] }].to_json %>;
    var dropdown = document.getElementById('email_template');

    fillMessage();
    dropdown.addEventListener('change', fillMessage);

    function fillMessage() {
      var templateId = dropdown.value
      var templateContent = templates[templateId];
      document.getElementById('email_message').value = templateContent;
    }
  </script>
<% end %>
