<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @email.address %>
</p>

<p>
  <strong>Message:</strong>
  <%= @email.message %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
